@font-face {
    font-family: odinFont;
    src: url(../fonts/Norse-Bold.otf);
}

.parent-container {
    display: flex;
    height: 100vh;
}

.flex-child-form {
    display: flex;
    flex-direction: column;
    flex-basis: 60%;
}

.flex-child-img {
    background-image: url("mountain.jpg");
    background-size: cover;
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
}

.img-placeholder {
    flex: auto;
}

.img-logo {
    flex-basis: 20%;
    background-color: black;
    opacity: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-logo > div {
    flex: auto;
    display: flex;
    align-items: center;
}

.logo-img {
    flex: auto;
    height: 15vh;
}

.logo-text {
    flex: auto;
    color: white;
    font-size: 10vh;
    font-family: odinFont;
    margin: 0;
    padding-top: 10px;
}

.img-credit {
    text-align: center;
    flex-basis: 5%;
    color: white;
}

.img-credit a {
    color: white;
}

.flex-child-intro {
    flex: auto;
}

.flex-child-intro h2 {
    padding: 50px;
}

.flex-child-info {
    flex-basis: 67%;
}

.info-flex {
    display: flex;
}

.info-flex div {
    flex: auto;
}

.form-inputs {
    padding-top: 0px;
    padding-bottom: 25px;
    padding-left: 50px;
    padding-right: 50px;
    border: 1px;
    border-style: ridge;
}

.form-submit {
    padding: 50px;
}

.btn-submit {
    background-color: #D18700;
    color: white;
    border-width: 0;
    border-radius: 5%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    font-weight: normal;
}

label {
    font-size: 0.75rem;
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

input {
    width: 250px;
    height: 25px;
    border-style: solid;
    border-width: 1px;
    border-radius: 5%;
    border-color: #E5E7EB;
}