.parent-container {
    display: flex;
    height: 100vh;
}

.flex-child-form {
    display: flex;
    flex-direction: column;
    flex-basis: 60%;
}

.flex-child-img {
    background-image: url("mountain.jpg");
    background-size: cover;
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
}

.img-placeholder {
    flex: auto;
}

.img-credit {
    text-align: center;
    flex-basis: 5%;
    color: white;
}

.flex-child-intro {
    flex: auto;
}

.flex-child-intro h2 {
    padding: 50px;
}

.flex-child-info {
    flex-basis: 67%;
}

.info-flex {
    display: flex;
}

.info-flex div {
    flex: auto;
}

.form-submit {
    padding: 50px;
}

.btn-submit {
    background-color: seagreen;
    color: white;
    border-width: 0;
    border-radius: 5%;
}