.parent-container {
    display: flex;
    height: 100vh;
}

.flex-child-form {
    display: flex;
    flex: auto;
    flex-direction: column;
}

.flex-child-img {
    background-image: url("mountain.jpg");
    background-size: cover;
    flex-basis: 40%;
}

.flex-child-intro {
    flex: auto
}

.flex-child-info {
    flex-basis: 33%;
}